@import "tailwindcss";

@font-face {
  font-family: "IRANSans";
  src: url("./assets/fonts/iran-sans/IRANSans_UltraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSans";
  src: url("./assets/fonts/iran-sans/IRANSans_Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSans";
  src: url("./assets/fonts/iran-sans/IRANSans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSans";
  src: url("./assets/fonts/iran-sans/IRANSans_Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSans";
  src: url("./assets/fonts/iran-sans/IRANSans_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSans";
  src: url("./assets/fonts/iran-sans/IRANSans_Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  direction: rtl;

  /* text */
  --color-textC: #272727;

  /* bg color */
  --color-background: #ffffff;

  --color-rootBg: #ffffff;

  /* primary color */
  --color-primary-50: #e7f8fc;
  --color-primary-100: #b4ebf6;
  --color-primary-200: #8fe1f2;
  --color-primary-300: #5cd3ec;
  --color-primary-400: #3dcae8;
  --color-primary-500: #0cbde2;
  --color-primary-600: #0bacce;
  --color-primary-700: #0986a0;
  --color-primary-800: #07687c;
  --color-primary-900: #054f5f;

  /* neutral color */
  --color-neutral-50: #f4f4f4;
  --color-neutral-600: #838383;
}

body.dark {
  /* text */
  --color-textC: #ffffff;

  /* bg color */
  --color-background: #2e2e2e;

  --color-rootBg: #212121;

  /* primary color */
  --color-primary-50: #e7f8fc;
  --color-primary-100: #b4ebf6;
  --color-primary-200: #8fe1f2;
  --color-primary-300: #5cd3ec;
  --color-primary-400: #3dcae8;
  --color-primary-500: #07687c;
  --color-primary-600: #0bacce;
  --color-primary-700: #0986a0;
  --color-primary-800: #0cbde2;
  --color-primary-900: #054f5f;

  /* neutral color */
  --color-neutral-50: #2e2e2e;
  --color-neutral-600: #cccccc;
  
}

body {
  margin: 0;
}

@theme {
  /* font */
  --font-sans: "IRANSans";

  /* text size */
  --text-2xs: 10px;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;
  --text-4xl: 40px;
  --text-5xl: 48px;
  --text-6xl: 64px;

  /* bg color */
  --color-background: var(--color-background);

  --color-rootBg: var(--color-rootBg);

  /* primary color */
  --color-primary-50: var(--color-primary-50);
  --color-primary-100: var(--color-primary-100);
  --color-primary-200: var(--color-primary-200);
  --color-primary-300: var(--color-primary-300);
  --color-primary-400: var(--color-primary-400);
  --color-primary-500: var(--color-primary-500);
  --color-primary-600: var(--color-primary-600);
  --color-primary-700: var(--color-primary-700);
  --color-primary-800: var(--color-primary-800);
  --color-primary-900: var(--color-primary-900);

  /* neutral color */
  --color-neutral-50: #f4f4f4;
  --color-neutral-100: #dddddd;
  --color-neutral-200: #cccccc;
  --color-neutral-300: #b5b5b5;
  --color-neutral-400: #a6a6a6;
  --color-neutral-500: #909090;
  --color-neutral-600: #838383;
  --color-neutral-700: #666666;
  --color-neutral-800: #4f4f4f;
  --color-neutral-900: #3c3c3c;

  /* saccess color */
  --color-saccess-50: #ebffe6;
  --color-saccess-100: #c1feb0;
  --color-saccess-200: #a3fd8a;
  --color-saccess-300: #7afc54;
  --color-saccess-400: #60fc33;
  --color-saccess-500: #38fb00;
  --color-saccess-600: #33e400;
  --color-saccess-700: #28b200;
  --color-saccess-800: #1f8a00;
  --color-saccess-900: #186900;

  /* danger color */
  --color-danger-50: #ffe8e8;
  --color-danger-100: #ffb6b6;
  --color-danger-200: #ff9393;
  --color-danger-300: #ff6262;
  --color-danger-400: #ff4444;
  --color-danger-500: #ff1515;
  --color-danger-600: #e81313;
  --color-danger-700: #b50f0f;
  --color-danger-800: #8c0c0c;
  --color-danger-900: #6b0909;

  /* warning color */
  --color-warning-50: #fff9e6;
  --color-warning-100: #ffedb0;
  --color-warning-200: #ffe58a;
  --color-warning-300: #ffd954;
  --color-warning-400: #ffd133;
  --color-warning-500: #ffc600;
  --color-warning-600: #e8b400;
  --color-warning-700: #b58d00;
  --color-warning-800: #8c6d00;
  --color-warning-900: #6b5300;

  /* neutral dark */
  --color-dark-50: #e9e9eb;
  --color-dark-100: #babac2;
  --color-dark-200: #9999a4;
  --color-dark-300: #6a6a7a;
  --color-dark-400: #4d4d61;
  --color-dark-500: #212139;
  --color-dark-600: #1e1e34;
  --color-dark-700: #171728;
  --color-dark-800: #12121f;
  --color-dark-900: #0e0e18;


  /* text */
  --color-textC: var(--color-textC);

  /* border weight */
  --border-width-1: 1px;
  --border-width-1-5: 1.5px;
  --border-width-2: 2px;
  --border-width-3: 3px;
  --border-width-4: 4px;

  /* border radius */
  --border-radius-none: 0px;
  --border-radius-sm: 2px;
  --border-radius: 4px;
  --border-radius-md: 6px;
  --border-radius-lg: 8px;
  --border-radius-xl: 12px;
  --border-radius-2xl: 16px;
  --border-radius-3xl: 24px;
  --border-radius-32: 32px;
  --border-radius-40: 40px;
  --border-radius-full: 9999px;
  /* shadow */
  --shadow-md:
    0 4px 12px -3px rgb(0 0 0 / 0.1), 0 2px 8px -4px rgb(0 0 0 / 0.1);
  --shadow-xs: 0 1px 2px 0px rgb(0 0 0 / 0.05);
  --shadow-lg: 0 10px 40px -10px rgba(0, 0, 0, 0.12);
  --shadow-xl: 0 25px 60px -15px rgba(0, 0, 0, 0.15);
  --shadow-2xl: 0 35px 70px -20px rgba(0, 0, 0, 0.2);
  --shadow-sm:
    0 1px 3px 0px rgba(0, 0, 0, 0.07), 0 1px 2px 0px rgba(0, 0, 0, 0.06);

  /* gap */
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  /* component */
  --component-2: 2px;
  --component-4: 4px;
  --component-8: 8px;
  --component-12: 12px;
  --component-16: 16px;
  --component-20: 20px;
  --component-24: 24px;
  --component-32: 32px;
  --component-36: 36px;
  --component-40: 40px;

  /* layout */
  --layout-8: 8px;
  --layout-16: 16px;
  --layout-24: 24px;
  --layout-32: 32px;
  --layout-48: 48px;
  --layout-64: 64px;
  --layout-80: 80px;
  --layout-96: 96px;
  --layout-128: 128px;
}

#root {
  width: screen;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: var(--color-rootBg);
}
